In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
read1=pd.read_csv("covid_19_clean_complete.csv")
read1

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [3]:
read1.drop(['Province/State'],axis=1,inplace=True)

In [4]:
read1

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [15]:
read1.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

Here , provinc/state has numbers of null values , so we have to clean it.

In [31]:
read1.drop(['Long'],axis=1,inplace=True)

In [32]:
read1

,Province/State,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,2020-07-27,505,12,128,365,Africa

In [33]:
read1.head(5)

,Province/State,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,2020-01-22,0,0,0,0,Africa

In [4]:
read1.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [5]:
read1.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [6]:
dataf=['WHO Region','Deaths']

new=read1[dataf]

In [7]:
new

                  WHO Region  Deaths
0      Eastern Mediterranean       0
1                     Europe       0
2                     Africa       0
3                     Europe       0
4                     Africa       0
...                      ...     ...
49063                 Africa      14
49064  Eastern Mediterranean     483
49065                 Africa       7
49066                 Europe      60
49067                 Africa      12

[49068 rows x 2 columns]

In [10]:
new1=read1.Active.value_counts()
new1

0          14151
1           1792
2           1157
3           1027
5            757
           ...
1170312        1
5009           1
13205          1
52138          1
53014          1
Name: Active, Length: 8641, dtype: int64

In [14]:
new12=read1.Country/Region.value_counts()
new12

AttributeError: 'DataFrame' object has no attribute 'Country'